<div class="mobileNav" id="mobileNav">
  <div class="mobileNavList" id="mobileNavList">
  <a href="/index.html" class="mobileHeaderItem dlsLogo">
    <div class="logoText" style="top:-10px; left:0px;">D</div>
    <div class="logoText" style="top:-1px; left:-4px;">L</div>
    <div class="logoText" style="top:8px; left:-8px;">S</div>
  </a>
  <a href="/Pages/about.html" class="mobileHeaderItem">
    About Us
  </a>
  <a href="/Pages/limos.html" class="mobileHeaderItem">
    Our Limos
  </a>
  <a href="/Pages/contact.html" class="mobileHeaderItem">
    Order/Contact
  </a>
  </div>
<div class="menuToggle" onclick="toggleMenu()"><span class="hamburger">☰</span></div>
</div>

<div class="header" id="header">
  <a href="/index.html" class="headerItem dlsLogo">
    <div class="logoText" style="top:-10px; left:0px;">D</div>
    <div class="logoText" style="top:-1px; left:-4px;">L</div>
    <div class="logoText" style="top:8px; left:-8px;">S</div>
  </a>
  <a href="/Pages/about.html" class="headerItem">
    About Us
  </a>
  <a href="/Pages/limos.html" class="headerItem">
    Our Limos
  </a>
  <a href="/Pages/contact.html" class="headerItem">
    Order/Contact
  </a>
</div>